<p id="notice"><%= notice %></p>
<%stylesheet_link_tag 'profiles'%>

<div class="profile-body">
  <div class="edit">
      <%= link_to 'Edit', edit_profile_path(@profile) %> 
    </div>
  <div class="full-wrap">
    <div class="left-wrap">
      
      <div class="image-border">
        
          <%if @profile.uploaded_image.attached?%>
            <%= image_tag @profile.uploaded_image.service_url, class: 'image-size'%>
          <%else%>
            <%= "No image uploaded"%>
          <%end%>
      </div>
    </div>
    <div class="right-wrap">
      <h2><strong>Alias: </h2></strong> 
      <p>
        <%= @profile.user.username %>
      </p><br>

      <h2><strong>From:</h2></strong> 
      <p>
        <%= @profile.city %>
      </p><br>
      
      <h2><strong>Bio:</strong></h2>
     
      <p> 
        <%= @profile.bio %>
      </p>
    </div>
  </div>


  <div class="my-tears-wrapper">
    <h2 class="torn-off"><strong>Torn Off:</strong></h2><br>
    <div class = "my-tears-grid">
      <%@attended_flyer.each do |flyer|%>
      <div class = "my-tears">
        <p>Title: <%=flyer.title%> </p>  
        <p>Information:<%=flyer.info%></p>  
        <p>Time of Event:<%=flyer.time.strftime("%H:%M %P")%></p>  
        <p>Date of Event: <%=flyer.date_of_event.strftime("%d %B %Y")%> </p>  
        <p>Location: <br><%=flyer.address%></p>
          <%= link_to "Show Listing", "/flyers/#{flyer.id}" %>
      </div>
      <%end%>
    </div>
  </div>
  
</div>
