<p id="notice"><%= notice %></p>

<p>
  <%if @profile.uploaded_image.attached?%>
    <%= image_tag @profile.uploaded_image.service_url, class: 'image-size'%>
  <%else%>
    <%= "No image uploaded"%>
  <%end%>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user.username %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
