<h1> Category: <%= @category.name %> </h1>

<div class="flyer-grid">
  <% @category.flyers.each do |flyer| %>
    <div class="flyer-block">
      <p><%= flyer.title %></p>
      <p><%= flyer.project.name %></p>
      <p> Spots available <%= flyer.max_attendees - FlyerAttendedByUser.where(flyer_id: 1).count %></p>
    </div>
  <% end %>
</div>

<%= render 'layouts/projects_list', projects: @projects %>