<p id="notice"><%= notice %></p>
<div class = "tears-wrapper">
  <div class="flyer-info">
    <p>
      <strong>Project:</strong>
      <%= @flyer.project.name %>
    </p>

    <p>
      <strong>Title:</strong>
      <%= @flyer.title %>
    </p>

    <p>
      <strong>Category:</strong>
      <%= link_to @flyer.category.name, "/category/#{@flyer.category.id}" %>
    </p>

    <p>
      <strong>Cost:</strong>
      <%= "$#{@flyer.cost}" %>
    </p>

    <p>
      <strong>Info:</strong>
      <%= @flyer.info %>
    </p>

    <p>
      <strong>Time of Event:</strong>
      <%= @flyer.time %>
    </p>

    <p>
      <strong>Event date:</strong>
      <%= @flyer.date_of_event %>
    </p>

    <p>
      <strong>Host:</strong>
      <%= @flyer.user.username %>
    </p>
  </div>

  <div class = "tears">
    <div class = "tears-1 hvr-curl-bottom-right">
        Ticket 1
        <li> <%=@flyer.date_of_event%> </li>
         <li><%="$#{@flyer.cost}"%></li>
         <%= render 'layouts/stripe_form' %>
         
    </div>
    <div class = "tears-2 hvr-curl-bottom-right">
        Ticket 2
        <li><%=@flyer.date_of_event%></li>
        <li><%="$#{@flyer.cost}"%></li>
       <%= render 'layouts/stripe_form' %>
    </div>
    <div class = "tears-3 hvr-curl-bottom-right">
        Ticket 3
        <li> <%=@flyer.date_of_event%></li>
         <li><%="$#{@flyer.cost}"%></li>
         <%= render 'layouts/stripe_form' %>
    </div>
    <div class = "tears-4 hvr-curl-bottom-right">
        Ticket 4
        <li> <%=@flyer.date_of_event%></li>
        <li> <%="$#{@flyer.cost}"%></li>
        <%= render 'layouts/stripe_form' %>
    </div>
    <div class = "tears-5 hvr-curl-bottom-right">
        Ticket 5
        <li> <%=@flyer.date_of_event%></li>
        <li> <%="$#{@flyer.cost}"%></li>
        <%= render 'layouts/stripe_form' %>
    </div>
    <div class = "tears-6 hvr-curl-bottom-right">
        Ticket 6
         <li><%=@flyer.date_of_event%></li>
         <li><%="$#{@flyer.cost}"%></li>
         <%= render 'layouts/stripe_form' %>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_flyer_path(@flyer) %> |
<%= link_to 'Back', flyers_path %>