<p id="notice"><%= notice %></p>
<div class = "show-page-wrap">
  <%if current_user == @flyer.user%>
    <%= link_to 'Edit', edit_flyer_path(@flyer) %>  
  <%end%>
  <%= link_to 'Back', flyers_path %>
  <div class = "tears-wrapper center-wrap">
    <div class="show-flyer-info category-image" style="background-image: url(<%=@flyer.category.image_link%>)">

      <h1>
        <%=@flyer.title %>
      </h1>
      <h2> EVENT INFORMATION BELOW:</h2>
      <div class="event-info">
         <div class="description"><h2>Description</h2> <p><%= @flyer.info %></p> </div>
         <div class="category"><h2>Category</h2>  <p><%= link_to @flyer.category.name, "/category/#{@flyer.category.id}" %> </p></div>
         <div class="supporting"><h2>Supporting</h2>  <p><%= @flyer.project.name %> </p></div>
         <div class="cost"><h2>Cost</h2> <p><%= "$#{@flyer.cost}" %></p></div>
         <div class="time"><h2>Time</h2> <p><%= @flyer.time.strftime("%l:%M %p") %></p></div>
         <div class="date"><h2>Date</h2> <p><%= @flyer.date_of_event.strftime("%-d %B %Y") %></p></div>
         <div class="host"><h2>Host</h2> <p><%= @flyer.user.username %></p></div>
      </div>
      
    </div>

    <div class = "tears">
      <div class = "tears-1 hvr-curl-bottom-right">
          <li>Ticket No: <%=(FlyerAttendedByUser.where(flyer_id: params[:id].to_i)).count + 1%></li>
          <li><%="$#{@flyer.cost}"%></li>
          <%if FlyerAttendedByUser.where(["flyer_id = ? and user_id = ?","params[:id]", "current_user.id"])%>
            <li> You've already Torn!</li>
          <%else%>
            <%= render 'layouts/stripe_form' %>
          <%end%>
          
      </div>
      <div class = "tears-2 hvr-curl-bottom-right">
          <li>Ticket No: <%=(FlyerAttendedByUser.where(flyer_id: params[:id].to_i)).count + 2%></li>
          <li><%="$#{@flyer.cost}"%></li>
          <%if FlyerAttendedByUser.where(["flyer_id = ? and user_id = ?","params[:id]", "current_user.id"])%>
            <li> You've already Torn!</li>
          <%else%>
            <%= render 'layouts/stripe_form' %>
          <%end%>
      </div>
      <div class = "tears-3 hvr-curl-bottom-right">
          <li>Ticket No: <%=(FlyerAttendedByUser.where(flyer_id: params[:id].to_i)).count + 3%></li>
          <li><%="$#{@flyer.cost}"%></li>
          <%if FlyerAttendedByUser.where(["flyer_id = ? and user_id = ?","params[:id]", "current_user.id"])%>
            <li> You've already Torn!</li>
          <%else%>
            <%= render 'layouts/stripe_form' %>
          <%end%>
      </div>
      <div class = "tears-4 hvr-curl-bottom-right">
          <li>Ticket No:<%=(FlyerAttendedByUser.where(flyer_id: params[:id])).count + 4%></li>
          <li> <%="$#{@flyer.cost}"%></li>
          <%if FlyerAttendedByUser.where(["flyer_id = ? and user_id = ?","params[:id]", "current_user.id"])%>
            <li> You've already Torn!</li>
          <%else%>
            <%= render 'layouts/stripe_form' %>
          <%end%>
      </div>
      <div class = "tears-5 hvr-curl-bottom-right">
          <li>Ticket No: <%=(FlyerAttendedByUser.where(flyer_id: params[:id].to_i)).count + 5%> </li>
          <li> <%="$#{@flyer.cost}"%></li>
          <%if FlyerAttendedByUser.where(["flyer_id = ? and user_id = ?","params[:id]", "current_user.id"])%>
            <li> You've already Torn!</li>
          <%else%>
            <%= render 'layouts/stripe_form' %>
          <%end%>
      </div>
      <div class = "tears-6 hvr-curl-bottom-right">
          <li>Ticket No: <%=(FlyerAttendedByUser.where(flyer_id: params[:id].to_i)).count + 6%></li>
          <li><%="$#{@flyer.cost}"%></li>
          <%if FlyerAttendedByUser.where(["flyer_id = ? and user_id = ?","params[:id]", "current_user.id"])%>
            <li> You've already Torn!</li>
          <%else%>
            <%= render 'layouts/stripe_form' %>
          <%end%>
      </div>
    </div>
  </div>
</div>


