<%= stylesheet_link_tag 'home' %>

<div class="banner"></div>

<div class="content-wrap">

  <div class="popular-flyers">
    <div class="home-flyers">
        <div class="heading">
          <h2> Popular Flyers </h2>
          <%= link_to 'more tears.', flyers_path %>
        </div>
        <%= render 'flyers/flyers_view_container', flyers: @popular_flyers %>
    </div>
  </div>
  
  <div class="total-donations">
    <div class="donations-header"><h2> Total Donations </h2>  <%= link_to 'more info.', projects_path %></div>
    <% @projects.each_with_index do |project,index| %>
    <div class="project-<%="#{index}"%>">
      <p><%= "$#{project.balance_raised}" %></p>
      <p><%= "#{project.name}"%></p>
      <p><img src="<%=project.image_link%>"></p>
    </div>
    <% end %>
    <div class="project-info-link">
      
    </div>
  </div>
</div>

