<%= stylesheet_link_tag 'home' %>

<div class="banner"></div>

<div class="content-wrap">
  
 
  <div class="popular-flyers">
   <div class="heading">
      <h3> Popular Flyers </h3>
      <%= link_to 'See more...', flyers_path %>
    </div>
    <% @popular_flyers.each_with_index do |flyer, index| %>
      <%= link_to flyer do%>
        <div class="flyers-<%="#{index}"%>">
          <h4><%= flyer.title %></h4>
          <p>$<%= flyer.cost %></p>
          <p><%= flyer.project.name %></p>
        </div>
      <%end%>
    <% end %>
  </div>

  <div class="total-donations">
    <h2> Total Donations </h2>

    <% @projects.each do |project| %>
      <p><%= "$#{project.balance_raised} has been raised for #{project.name}" %></p>
    <% end %>
  </div>
</div>