<%= stylesheet_link_tag 'home' %>

<div class="banner"></div>

<div class="content-wrap">

  <div class="popular-flyers">
    <div class="heading">
      <h2> Popular Flyers </h2>
      <%= link_to 'more tears.', flyers_path %>
    </div>
    <% @popular_flyers.each_with_index do |flyer, index| %>
      <%= link_to flyer do%>
        <div class="flyers-<%="#{index}"%>" style="background-image: url(<%=flyer.category.image_link%>)">
          <h4><%= flyer.title %></h4>
          <p>$<%= flyer.cost %></p>
          <p><%= flyer.project.name %></p>
        </div>
      <%end%>
    <% end %>
  </div>

  <div class="total-donations">
    <div class="donations-header"><h2> Total Donations </h2>  <%= link_to 'more info.', projects_path %></div>
    <% @projects.each_with_index do |project,index| %>
    <div class="project-<%="#{index}"%>">
      <%= "$#{project.balance_raised} has been raised for #{project.name}" %>
    </div>
    <% end %>
    <div class="project-info-link">
      
    </div>
  </div>
</div>

