<header>
  <div class="Logo"><%= link_to 'Logo', '/' %></div>
  <div class="nav">
    <div><%= link_to 'Home', '/' %></div>
    <div><%= link_to 'Projects', '#' %></div>
    <div><%= link_to 'About Us', '#' %></div>
    
    <% if user_signed_in? %>
      <div><%= current_user.username %></div>
      <div><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></div>
    <% else %>
      <div><%= link_to "Log in", new_session_path(resource_name) %></div>
      <div><%= link_to "Sign up", new_registration_path(resource_name) %></div>
    <% end %>
  </div>
</header>